header {
    
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    height: 80px;
    width: 20;
  }

    body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #06adf0;
  }
  
  .container{

    max-width: 800px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-left: 15px;
    margin-top: 20px;
    height: 200px;
    width: 500px;
  }

  button {

    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    position: relative;
    margin-top: 50px;
    text-align: center;


 }
    
  button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 } 

  footer {
    position: relative;
    margin-top: 100px;
    height: 40px; 
    padding:5px 0px;
    clear: both;
    background: hsla(0, 0%, 5%, 0.919);
    text-align: center;
    color: #fff;
    
}
